<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Type</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Select login as:</h1>

        <p>
          <a class="btn btn-primary" href="{% url 'accounts:all_login' %}">Login as Admin</a>
          <a class="btn btn-warning" href="{% url 'accounts:all_login' %}">Login as Employee</a>
          <a class="btn btn-success" href="{% url 'accounts:all_login' %}">Login as Client</a>
        </p>
      </div>
    </div>
  </body>
</html>
